.empty{
    text-align: center;
    margin: 8.5vmax;
}
.cartList{
    list-style: none;
    margin: 2vmax;
    /*border-top: 1px solid rgba(0, 0, 0, 0.205);*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding-bottom: 2vmax;
}
.cartList img{
    height: 100px;
    width: 100px;
}