*{
    margin: 0;
    scroll-behavior: smooth;
}

nav{
    background-color: #eb4034;
    padding: 20px;
}

.nav-item:hover{
    font-weight: bold;
}

button{
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color: tomato;
    font: 500 1vmax "Roboto";
    border-radius: 20px;
    padding: 0.5vmax 2vmax;
    outline: none;
}

button:hover {
    background-color: #eb4034;
}